.hanger:hover{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 2.8s linear forwards 1;
  animation: swinging 2.8s linear forwards 1;
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(0deg)}
  8%{-webkit-transform: rotate(-10deg)}
  21%{-webkit-transform: rotate(8deg)}
  39%{-webkit-transform: rotate(-6deg)}
  62%{-webkit-transform: rotate(4deg)}
  90%{-webkit-transform: rotate(-2deg)}
  100%{-webkit-transform: rotate(0deg)}
}

@keyframes swinging{
  0%{transform: rotate(0deg)}
  8%{transform: rotate(-10deg)}
  21%{transform: rotate(8deg)}
  39%{transform: rotate(-6deg)}
  61%{transform: rotate(4deg)}
  88%{transform: rotate(-2deg)}
  100%{transform: rotate(0deg)}
}