.signup-form-holder-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  height: 38vh;
  width: 100%;
  left: 0; 
  right: 0; 
  bottom: 0; 
  animation-name: signup-slide-up;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	animation-timing-function: linear;
  animation-duration: .4s;
  z-index: 3;
}

@keyframes signup-slide-up {
  0%   {bottom: -38vh}
  100% {bottom: 0vh}
  }

.signup-form-holder-close {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  height: 38vh;
  width: 100%;
  left: 0; 
  right: 0; 
  bottom: 0; 
  animation-name: signup-slide-down;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: .4s;
  z-index: 3;
}

@keyframes signup-slide-down {
  0%   {bottom: 0vh}
  100% {bottom: -38vh}
  }

.pattern-diagonal-stripes-lg{
  background-color: white;
  color: whitesmoke;
}

.signup-form-title{
  color: #DD356E;
  font-size: 50px;
  margin-top: 4vh;
  margin-bottom: 1vh;
}

.signup-form {
  height: 100%; 
  width: 100%; 
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

.signup-input-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .6vh;
}

.signup-input-container-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.signup-input-holder-name{
  width: 70vw; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .6vh;
}

.signup-input{
  height: 2.8vh; 
  width: 70vw; 
  box-sizing: border-box; 
  border: .5px solid #DD356E;
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
}

.signup-input-name{
  height: 2.8vh; 
  width: 34vw; 
  box-sizing: border-box; 
  border: .5px solid #DD356E;
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
}

.signup-input:focus, .signup-input-name:focus{
  background: white; 
}

.signup-button-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.signup-button{
  margin-top: .8vh;
  margin-left: 1vw;
  height: 3vh; 
  width: 45vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background:#DD356E;
  color: white;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  cursor: pointer;  
}

.signup-form-demo-user-button, .signup-form-demo-designer-button{
  margin-top: .5vh;
  height: 3vh; 
  width: 45vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background:#DD356E;
  color: white;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  cursor: pointer;  
}

.signup-button:hover, .signup-form-demo-user-button:hover, .signup-form-demo-designer-button:hover {
  background:#fef0bc;
}

.button-modal{
  height: 50px; 
  width: 240px; 
  border-radius: 3px; 
  border: rgba(0,0,0,0.3) 0px solid; 
  box-sizing:border-box;
  padding:10px; 
  background:#f1bc8f;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition: background-color 0.4s;
  cursor: pointer;  
}

.button-modal:hover {
  background:#da4339;
}