.account-main{
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.account-main::-webkit-scrollbar{
  display: none;
}

.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.account-header-info{
  padding-top: 8vh;
  font-size: 36px;
  top: 8vh;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: black;
}

.account-profile-picture{
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
}

.account-header-info > i{
  font-size: 160px;
}

.account-header-info > h1{
  margin-top: 2vh;
  font-size: 72px;
}

.account-header-info > h2{
  margin-top: 1vh;
  font-size: 36px;
}

.account-header-info > p{
  margin-top: 1.5vh;
  font-size: 32px;
  color: #23BDBC;
  cursor: pointer;
}

.account-places{
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  height: 4vh;
  width: 100vw;
}

.account-places > p{
  margin-left: 5vw;
  color: black;
}

.account-places-home{
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5vw;
  background-color: white;
  color: black;
}

.account-places-home > i{
  font-size: 48px;
}

.account-places-home-header{
  margin-left: 5vw;
  font-size: 36px;
}

.account-places-home-address{
  margin-left: 10vw;
  font-size: 32px;
  line-height: 1.5;
}

.account-places-email{
  margin-left: 10vw;
  font-size: 32px;
}

.account-places-email > p{
  font-size: 36px;
  box-sizing: border-box; 
}

.account-places-spacer{
height: 3vh;
width: 100vw;
}

.account-logout{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  font-size: 44px;
  padding-left: 5vw;
  background-color: white;
  color: black;
  cursor: pointer;
}

.account-errors{
  font-size: 18px;
}

/********************* EDIT FORM CSS *********************/

.account-form {
  height: 100%; 
  width: 100%; 
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

.account-input-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .6vh;
}

.account-input-container-name{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.account-input-holder-name{
  /* width: 70vw;  */
  overflow-x:hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.4vh;
}

.account-input-first-name, .account-input-last-name{
  font-size: 72px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.account-input-username{
  font-size: 36px;
  box-sizing: border-box; 
  border: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.account-input-education{
  font-size: 36px;
  box-sizing: border-box; 
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.account-input-email{
  font-size: 36px;
  box-sizing: border-box; 
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.account-input-username:focus, .account-input-name:focus, .account-input-education:focus{
  background: white; 
}

.account-input-holder-address{
  /* width: 70vw;  */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.account-input-address{
  font-size: 32px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.account-input-city, .account-input-state, .account-input-zipcode{
  font-size: 32px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}


/****************** @MEDIA QUERIES **********************/

@media screen and (min-aspect-ratio: 1/1){
	.account-main {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    width: 500px;
    height: 90vh;
  }

  .account-header-info{
    padding-top: 30px;
    padding-bottom: 10px;
    top: 50px;
    height: 200px;
    width: 500px;
  }

  .account-profile-picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  
  .account-header-info > i{
    font-size: 90px;
  }
  
  .account-header-info > h1{
    margin-top: 20px;
    font-size: 26px;
  }
  
  .account-header-info > h2{
    margin-top: 5px;
    font-size: 12px;
  }
  
  .account-header-info > p{
    margin-top: 15px;
    font-size: 10px;
  }

  .account-places{
    font-size: 22px;
    height: 35px;
    width: 500px;
  }
  
  .account-places > p{
    margin-left: 50px;
  }
  
  .account-places-home{
    height: 60px;
    padding: 0 50px;
  }
  
  .account-places-home > i{
    font-size: 22px;
  }
  
  .account-places-home-header{
    margin-left: 50px;
    font-size: 16px;
  }
  
  .account-places-home-address{
    margin-left: 50px;
    font-size: 12px;
    line-height: 1.5;
  }

  .account-places-email{
    margin-left: 40px;
    font-size: 16px;
  }
  
  .account-places-email > p{
    font-size: 12px;
  }
  
  .account-places-spacer{
    height: 30px;
    width: 500px;
  }
  
  .account-logout{
    height: 60px;
    font-size: 22px;
    padding-left: 50px;
    margin-bottom: 65px;
  }


  /********************* EDIT FORM CSS *********************/


.account-form {
  height: 100%; 
  width: 500px; 
}

.account-input-holder{
  margin: 8px;
}

.account-input-holder-name{
  margin-top: 14px;
  height: 34px;
}

.account-input-first-name, .account-input-last-name{
  font-size: 26px;
  border: none;
  padding: 0;
}

.account-input-username, .account-input-education{
  margin-top: 5px;
  font-size: 12px;
}

.account-input-email{
  font-size: 12px;
}

.account-input-address{
  font-size: 12px;
  border: none;
}

.account-input-city, .account-input-state, .account-input-zipcode{
  font-size: 12px;
  border: none;
  padding: 0;
}
.account-errors{
  font-size: 12px;
}
}

@media screen and (min-aspect-ratio: 2/1){
  .account-main {
    height: 82vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .account-main {
    height: 76vh;
  }
}

.input{
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 1px 6px;
}

.input-wrap {
  position: relative;
}
.input-wrap .input {
  position: absolute;
  width: 100%;
  left: 0;
}
.width-machine {
  /*   Sort of a magic number to add extra space for number spinner */
  padding: 0 1rem;
  max-width: 100vw;
  overflow-x:hidden;
  color: transparent;
}

input[type=text]:focus{
  outline: transparent;     /* oranges! yey */
}