/* Headers */

html{
  height: 100%;
  background-size: cover;
  background: linear-gradient(#eff9ff, #dff3ff);
  /* background-color: #77b5fe */

}

h1{
  font-family: 'Happy Monkey', cursive;
  text-align: center;
  font-size: 60px;
  background: -webkit-linear-gradient(#e5dfff, #f5dfff, #ffe2df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.space{
  width: 100px;
  height: 100px;
}

.hanger_container{
  box-sizing: border-box;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.button_container{
  box-sizing: border-box;
  display: flex; 
  flex-direction: row;
  justify-content: center;
}

.button{
  box-sizing: border-box;
  margin: 10px;
}

.rope{
  /* margin-top: 0.5em;3
  margin-bottom: 0.5em; */
  border-color: #cabca5;
}

.hanger{
  padding: 0px 10px;
}

.hanger_image{
  height: 90px;
  width: 130px
}

.hanger:hover{
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 2.8s linear forwards 1;
  animation: swinging 2.8s linear forwards 1;
}

@-webkit-keyframes swinging{
  0%{-webkit-transform: rotate(0deg)}
  8%{-webkit-transform: rotate(-10deg)}
  21%{-webkit-transform: rotate(8deg)}
  39%{-webkit-transform: rotate(-6deg)}
  62%{-webkit-transform: rotate(4deg)}
  90%{-webkit-transform: rotate(-2deg)}
  100%{-webkit-transform: rotate(0deg)}
}

@keyframes swinging{
  0%{transform: rotate(0deg)}
  8%{transform: rotate(-10deg)}
  21%{transform: rotate(8deg)}
  39%{transform: rotate(-6deg)}
  61%{transform: rotate(4deg)}
  88%{transform: rotate(-2deg)}
  100%{transform: rotate(0deg)}
}