doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bentham&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Wire+One&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap" rel="stylesheet")
    style
      include main.css
    title Dress 'em Up
  body
    h1 DRESS 'EM UP
    .space
    hr(class="rope")
    div(class="hanger_container")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
    .space
    hr(class="rope")
    div(class="hanger_container")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
      div(class="hanger")
        img(class="hanger_image" src="/images/hanger2.jpg")
    div(class="button_container")
      button(class="button" type="button") Button
      button(class="button" type="button") Button
      button(class="button" type="button") Button
