body{
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

p{
  font-size: small;
  color: #FFFFFF;
}

.about_carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.about_carousel_circles > div{
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: pink;
  border-radius: 50%;
  position: relative;
}
.about_carousel_circles > div:hover {
  background: green;
}

.about_carousel_screens{
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  background: #dc386c;
}

.about_carousel_screens > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.about_carousel_screens::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  /* display: none; */
}

.about_carousel_screens::-webkit-scrollbar-track{
  background: black;
}

.about_carousel_screens::-webkit-scrollbar-track{
  background: transparent;
}

.about{
  color: #dc386c;
  text-align: center;
  opacity: 0;
	animation-name: fadeh1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.clothes_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.clothes_1 {
  align-self: center;
  width: 3rem;
  height: 5rem;
  animation: move_right .75s 1;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.clothes_2 {
  display:flex;
  align-self: center;
  width: 2rem;
  height: 3.5rem;
  visibility: hidden;
  animation: move_left .75s 1;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.button_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons{
  opacity: 0;
  border-radius: 2em;
  border: .1em solid #dc386c;
  box-sizing: border-box;
  width: 15em;
  padding: .5em;
  margin: .5em;
	animation-name: fadeh1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.log-in{
  background-color: #dc386c;
  color: #FFFFFF;
}

.sign-up{
  background-color: #FFFFFF;
  color: #dc386c;
}

.top{
  width: 100%;
  height: 100%;
}

.bottom{
  width: 100%;
  height: 100%;
}

@keyframes move_right {
  0%   {transform: translateX(60vw)}
  100% {transform: translateX(0)}
  }

@keyframes move_left {
  0% {transform: translateX(-60vw); visibility: visible}
  100% {transform: translateX(0); visibility: visible}
  }

@keyframes fadeh1 {
  0% {opacity: 0}
  100% {opacity: 1}
  }