body{
  background-color: #FFFFFF;
  font-family: Roboto, sans-serif;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.header{
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: white;
}

.header_title{
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

p{
  font-size: small;
  color: #FFFFFF;
}

.about_carousel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.about_carousel_circles{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .5em 0;
}

.circle{
  /* display: inline-block; */
  width: .5rem;
  height: .5rem;
  background: pink;
  margin: 0 .1em;
  border-radius: 50%;
}

.circle:hover {
  background: green;
}

.about_carousel_screens{
  margin-top: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  width: 100%;
  background: #dc386c;
}

.about_carousel_screens > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  position: relative;
}

.about_carousel_screens > div > p{
  margin-top: 10vh;
}

.about_carousel_screens::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  /* display: none; */
}

.about_carousel_screens::-webkit-scrollbar-track{
  background: black;
}

.about_carousel_screens::-webkit-scrollbar-track{
  background: transparent;
}

.clothes_container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clothes_1 {
  align-self: center;
  width: 3rem;
  height: 5rem;
  animation: move_right .75s 1;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.clothes_2 {
  display:flex;
  align-self: center;
  width: 2rem;
  height: 3.5rem;
  visibility: hidden;
  animation: move_left .75s 1;
  animation-delay: .75s;
  animation-fill-mode: forwards;
  animation-direction: linear;
}

.buttons_holder{
  position: fixed;
  width: 100%;
  height: 20vh;
  bottom: 0;
}

.button_container{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons{
  opacity: 0;
  border-radius: .75em;
  border: .1em solid #dc386c;
  box-sizing: border-box;
  width: 10em;
  padding: 1em;
  margin: 0 .5em;
	animation-name: fadeh1;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-delay: 1.5s;
}

.log-in{
  background-color: #dc386c;
  color: #FFFFFF;
}

.sign-up{
  background-color: #FFFFFF;
  color: #dc386c;
}

.top{
  width: 100%;
  height: 100%;
}

.bottom{
  width: 100%;
  height: 100%;
}


@keyframes move_right {
  0%   {transform: translateX(60vw)}
  100% {transform: translateX(0)}
  }

@keyframes move_left {
  0% {transform: translateX(-60vw); visibility: visible}
  100% {transform: translateX(0); visibility: visible}
  }

@keyframes fadeh1 {
  0% {opacity: 0}
  100% {opacity: 1}
  }