.designer-profile-main{
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.designer-profile-main::-webkit-scrollbar{
  display: none;
}

.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.designer-profile-header{
  position: relative;
  margin-top: 8vh;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  color: black;
  z-index:0;
}

.designer-profile-header-background{
  height: 20vh;
  /* width: 96vw; */
  width: 100vw;
}

.designer-profile-header-background > img{
  height: 110%;
  width: 100%;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
}

.designer-profile-profile-avatar{
  position: absolute;
  margin-top: 14vh;
  width: 14vh;
  height: 14vh;
  border: 14px solid white;
  border-radius: 50%;
}

.designer-profile-profile-avatar > img{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.designer-profile-header > i{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.designer-profile-header-info{
  height: 26vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: black;
}

.designer-profile-ratings-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 3vh;
  width: 40vw;
  margin-top: -2.5vh;
}

.add-cursor{
  cursor: pointer;
}

.designer-profile-ratings-container .designer-profile-ratings-container__hover{
  position: absolute;
  visibility: hidden;
  width: 18vw;
  background-color: #DD356E;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 15px;
  margin-left: 52vw;
  padding: 5px;
  font-size: 28px;
  cursor: pointer;
}

.designer-profile-ratings-container:hover .designer-profile-ratings-container__hover{
  visibility: visible;
}

.designer-profile-feed{
  display: flex;
  width: 80vw;
  flex-direction: column;
  margin-left: 10vw;
}

.designer-profile-feed-box{
  min-height: 8vh;
  font-size: 28px;
}

.designer-profile-feed-text{
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.designer-profile-feed-names{
  font-weight: bold;
  font-size: 36px;
  color: #DD356E;
  height: 2.5vh;
  padding-top: 2.5vh;
  margin-left: 1vw;
}

.designer-profile-feed-title{
  margin-top: 0;
  font-size: 28px;
}

.designer-profile-feed-description{
  margin-top: 2vh;
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 1vh;
  margin-left: 1vw;
}

.designer-profile-feed-line{
  align-self: flex-end;
  width: 100vw;
  border-bottom: .5px solid #DD356E;
  margin-top: 1vh;
}

.designer-profile-feed-spacer{
  margin-bottom: 10vh;
}

.designer-profile-ratings-container > img{
  height: 3vh;
  width: 3vh;
  margin-right: -2px;
}

.designer-profile-ratings-container-ind > img{
  height: 2vh;
  width: 2vh;
  margin-right: -1px;
}

.designer-profile-header-info > h1{
  margin-top: 11vh;
  font-size: 72px;
}

.designer-profile-header-info > h2{
  margin-top: 1vh;
  font-size: 36px;
}

.designer-profile-header-info > p{
  margin-top: 1.5vh;
  font-size: 32px;
  color: #23BDBC;
  cursor: pointer;
}

.designer-profile-recent-requests-title{
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  height: 4vh;
  width: 100vw;
}

.designer-profile-recent-requests-title > p{
  margin-left: 5vw;
  color: black;
}

.designer-profile-recent-requests{
  background-color: white;
  min-height: 10vh;
  width: 100vw;
}

.designer-profile-places-home{
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5vw;
  background-color: white;
  color: black;
}

.designer-profile-places-home > i{
  font-size: 48px;
}

.designer-profile-places-home-header{
  margin-left: 5vw;
  font-size: 36px;
}

.designer-profile-places-home-address{
  margin-left: 10vw;
  font-size: 32px;
  line-height: 1.5;
}

.designer-profile-places-email{
  margin-left: 10vw;
  font-size: 32px;
}

.designer-profile-places-email > p{
  font-size: 36px;
  box-sizing: border-box; 
}

.designer-profile-places-spacer{
height: 3vh;
width: 100vw;
}

.designer-profile-logout{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  font-size: 44px;
  padding-left: 5vw;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-bottom: 10vh;
}

/****************** @MEDIA QUERIES **********************/

@media screen and (min-aspect-ratio: 1/1){
	.designer-profile-main {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 85vh;
  }

  .designer-profile-header{
    position: relative;
    margin-top: 0;
    height: 380px;
    width: 500px;
  }

  .designer-profile-header-info{
    padding-top: 30px;
    padding-bottom: 10px;
    top: 50px;
    height: 300px;
    width: 500px;
  }

  .designer-profile-header-background{
    margin-top: -40px;
    height: 200px;
    /* width: 96vw; */
    width: 500px;
  }
  
  .designer-profile-header-background > img{
    height: 110%;
    width: 100%;
  }
  
  .designer-profile-profile-avatar{
    position: absolute;
    margin-top: 110px;
    width: 120px;
    height: 120px;
    border: 6px solid white;
    border-radius: 50%;
  }
  
  .designer-profile-profile-avatar > img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  .designer-profile-ratings-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
    width: 100px;
    margin-top: -40px;
  }
  
  .designer-profile-ratings-container .designer-profile-ratings-container__hover{
    position: absolute;
    visibility: hidden;
    width: 10vw;
    background-color: #DD356E;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 15px;
    margin-left: 270px;
    padding: 5px;
    font-size: 12px;
  }

  .designer-profile-feed{
    width: 400px;
    margin-left: 50px;
  }

  .designer-profile-feed-box{
    height: 120px;
    width: 400px;
    font-size: 14px;
  }
  
  .designer-profile-feed-text{
    margin-bottom: 10px;
  }
  
  .designer-profile-feed-names{
    height: 30px;
    font-size: 16px;
    padding-top: 18px;
    margin-left: 2px;
  }
  
  .designer-profile-feed-title{
    font-size: 14px;
  }
  
  .designer-profile-feed-description{
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 8px;
    margin-left: 5px;
  }

  .designer-profile-feed-line{
    align-self: flex-end;
    width: 500px;
    border-bottom: .5px solid #DD356E;
  }
  
  .designer-profile-feed-spacer{
    margin-bottom: 0px;
    height: 100px;
    background-color: white;
  }
  
  .designer-profile-ratings-container > img{
    height: 28px;
    width: 28px;
    margin-right: -2px;
  }

  .designer-profile-ratings-container-ind > img{
    height: 20px;
    width: 20px;
    margin-right: -4px;
  }
  
  .designer-profile-header-info > i{
    font-size: 45px;
  }
  
  .designer-profile-header-info > h1{
    margin-top: 70px;
    font-size: 26px;
  }
  
  .designer-profile-header-info > h2{
    margin-top: 10px;
    font-size: 12px;
  }
  
  .designer-profile-header-info > p{
    margin-top: 15px;
    font-size: 10px;
  }

  .designer-profile-places{
    font-size: 22px;
    height: 35px;
    width: 500px;
  }
  
  .designer-profile-places > p{
    margin-left: 50px;
  }
  
  .designer-profile-places-home{
    height: 60px;
    padding: 0 50px;
  }
  
  .designer-profile-places-home > i{
    font-size: 22px;
  }
  
  .designer-profile-places-home-header{
    margin-left: 50px;
    font-size: 16px;
  }


  .designer-profile-recent-requests-title{
    font-size: 20px;
    padding-top: 8px;
    height: 45px;
    width: 500px;
  }
  
  .designer-profile-recent-requests-title > p{
    margin-left: 25px;
    color: black;
  }
  
  .designer-profile-recent-requests{
    background-color: white;
    min-height: 10vh;
    width: 500px;
  }

  .designer-profile-places-email{
    margin-left: 40px;
    font-size: 16px;
  }
  
  .designer-profile-places-email > p{
    font-size: 12px;
  }
  
  .designer-profile-places-spacer{
    height: 30px;
    width: 500px;
  }
  
  .designer-profile-logout{
    height: 60px;
    font-size: 22px;
    padding-left: 50px;
    margin-bottom: 65px;
  }
}

@media screen and (min-aspect-ratio: 2/1){
  .designer-profile-main {
    height: 82vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .designer-profile-main {
    height: 76vh;
  }
}