.designer-profile-main{
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.designer-profile-main::-webkit-scrollbar{
  display: none;
}

.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.designer-profile-header{
  position: relative;
  margin-top: 8vh;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:white;
  color: black;
  z-index:0;
}

.designer-profile-header-background{
  height: 20vh;
  /* width: 96vw; */
  width: 100vw;
}

.designer-profile-header-background > img{
  height: 100%;
  width: 100%;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px; */
}

.designer-profile-profile-avatar{
  position: absolute;
  margin-top: 14vh;
  width: 14vh;
  height: 14vh;
  border: 14px solid white;
  border-radius: 50%;
}

.designer-profile-profile-avatar > img{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.designer-profile-header > i{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.designer-profile-header-info{
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:white;
  color: black;
}

.designer-profile-header-info > h1{
  margin-top: 10vh;
  font-size: 72px;
}

.designer-profile-header-info > h2{
  margin-top: 1vh;
  font-size: 36px;
}

.designer-profile-header-info > p{
  margin-top: 1.5vh;
  font-size: 32px;
  color: #23BDBC;
  cursor: pointer;
}

.designer-profile-recent-requests-title{
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  height: 4vh;
  width: 100vw;
}

.designer-profile-recent-requests-title > p{
  margin-left: 5vw;
  color: black;
}

.designer-profile-recent-requests{
  background-color: white;
  min-height: 10vh;
  width: 100vw;
}

.designer-profile-places-home{
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5vw;
  background-color: white;
  color: black;
}

.designer-profile-places-home > i{
  font-size: 48px;
}

.designer-profile-places-home-header{
  margin-left: 5vw;
  font-size: 36px;
}

.designer-profile-places-home-address{
  margin-left: 10vw;
  font-size: 32px;
  line-height: 1.5;
}

.designer-profile-places-email{
  margin-left: 10vw;
  font-size: 32px;
}

.designer-profile-places-email > p{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  box-sizing: border-box; 
}

.designer-profile-places-spacer{
height: 3vh;
width: 100vw;
}

.designer-profile-logout{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8vh;
  font-size: 44px;
  padding-left: 5vw;
  background-color: white;
  color: black;
  cursor: pointer;
}

/********************* EDIT FORM CSS *********************/

.designer-profile-form {
  height: 100%; 
  width: 100%; 
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

.designer-profile-input-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .6vh;
}

.designer-profile-input-container-name{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.designer-profile-input-holder-name{
  /* width: 70vw;  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.4vh;
}

.designer-profile-input-first-name, .designer-profile-input-last-name{
  font-family: 'Open Sans', sans-serif;
  font-size: 72px;
  width: 20vw;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-last-name{
  margin-left: 2vw;
  width: 26vw;
}

.designer-profile-input-username{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  box-sizing: border-box; 
  border: none;
  padding: 0;
  margin-left: 18vw;
  margin-top: .5vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-email{
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  box-sizing: border-box; 
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-username:focus, .account-input-name:focus{
  background: white; 
}

.designer-profile-input-holder-address{
  /* width: 70vw;  */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.designer-profile-input-address{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  width: 40vw;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-city, .designer-profile-input-state, .designer-profile-input-zipcode{
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  border: none;
  width: 10vw;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-state{
  width: 6vw;
}

.designer-profile-input-city{
  width: 12vw;
}



/****************** @MEDIA QUERIES **********************/

@media screen and (min-aspect-ratio: 1/1){
	.designer-profile-main {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 85vh;
  }

  .designer-profile-header-info{
    padding-top: 30px;
    padding-bottom: 10px;
    top: 50px;
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    color: black;
  }

  .designer-profile-header-background{
    margin-top: -40px;
    height: 200px;
    /* width: 96vw; */
    width: 500px;
  }
  
  .designer-profile-header-background > img{
    height: 100%;
    width: 100%;
    /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
  }
  
  .designer-profile-profile-avatar{
    position: absolute;
    margin-top: 140px;
    width: 120px;
    height: 120px;
    border: 6px solid white;
    border-radius: 50%;
  }
  
  .designer-profile-profile-avatar > img{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .designer-profile-header-info > i{
    font-size: 90px;
  }
  
  .designer-profile-header-info > h1{
    margin-top: 20px;
    font-size: 36px;
  }
  
  .designer-profile-header-info > h2{
    margin-top: 5px;
    font-size: 18px;
  }
  
  .designer-profile-header-info > p{
    margin-top: 15px;
    font-size: 14px;
  }

  .designer-profile-places{
    font-size: 22px;
    height: 35px;
    width: 500px;
  }
  
  .designer-profile-places > p{
    margin-left: 50px;
  }
  
  .designer-profile-places-home{
    height: 60px;
    padding: 0 50px;
  }
  
  .designer-profile-places-home > i{
    font-size: 22px;
  }
  
  .designer-profile-places-home-header{
    margin-left: 50px;
    font-size: 16px;
  }
  
  .designer-profile-places-home-address{
    margin-left: 50px;
    font-size: 12px;
    line-height: 1.5;
  }

  .designer-profile-places-email{
    margin-left: 40px;
    font-size: 16px;
  }
  
  .designer-profile-places-email > p{
    font-size: 12px;
  }
  
  .designer-profile-places-spacer{
    height: 30px;
    width: 500px;
  }
  
  .designer-profile-logout{
    height: 60px;
    font-size: 22px;
    padding-left: 50px;
    margin-bottom: 65px;
  }


  /********************* EDIT FORM CSS *********************/


.designer-profile-form {
  height: 100%; 
  width: 500px; 
}

.designer-profile-input-holder{
  margin: 8px;
}

.designer-profile-input-holder-name{
  margin-top: 14px;
}

.designer-profile-input-first-name, .designer-profile-input-last-name{
  width: 95px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  border: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-last-name{
  width: 120px;
}

.designer-profile-input-username{
  font-size: 18px;
  margin-left: 80px;
}

.designer-profile-input-email{
  font-size: 12px;
}

.designer-profile-input-address{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  width: 200px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-city, .designer-profile-input-state, .designer-profile-input-zipcode{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  border: none;
  width: 32px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.designer-profile-input-state{
  width: 22px;
}

.designer-profile-input-city{
  width: 48px;
}

}

@media screen and (min-aspect-ratio: 2/1){
  .designer-profile-main {
    height: 82vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .designer-profile-main {
    height: 76vh;
  }
}