.homepage-container{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  overflow: scroll;
}

.homepage-container{
  height: 100%;
  width: 100%
}

.homepage-container::-webkit-scrollbar{
  display: none;
}

.homepage-feed-box{
  height: 14vh;
  margin-left: 8vw;
  font-size: 28px;
  display: grid;
  grid-template-columns: 2.1fr 7.9fr;
}

.homepage-feed-image{
  grid-column: 1/2;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.homepage-feed-text{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-left: -4vw;
  margin-right: 8vw;
  margin-bottom: 1vh;
}

.homepage-feed-names{
  font-weight: bold;
  height: 5vh;
  padding-top: 1.8vh;
  color: rgb(54, 47, 47)
}

.homepage-feed-title{
  grid-column: 2/3;
  color: #23BDBC;
  font-size: 28px;
}

.homepage-feed-description{
  margin-top: 2vh;
  font-size: 22px;
  margin-bottom: 1vh;
}

.homepage-feed-likes-comments{
  align-self: flex-end;
  height: 4.5vh;
  width: 75vw;
  margin-left: 22vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.homepage-feed-likes{
  margin-right: 2vw;
}

.homepage-feed-icons{
  height: 2.5vh;
  width: 2.5vh;
}

.homepage-feed-line{
  align-self: flex-end;
  width: 77vw;
  border-bottom: .5px solid #23BDBC;
  margin-bottom: 2vh;
}

.homepage-feed-spacer{
  margin-bottom: 10vh;
}


 /************** @MEDIA QUERIES  ***************/

 
@media screen and (min-aspect-ratio: 1/1){
	.homepage-container {
    margin-top: 70px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 85vh;
    background-color: white;
    z-index: 0;
  }

  .homepage-container-inside {
    width: 500px;
  }

  .homepage-feed-box{
    height: 130px;
    margin-left: 20px;
    font-size: 14px;
  }

  .homepage-feed-image{
    grid-column: 1/2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  .homepage-feed-text{
    margin-left: -40px;
    margin-right: 80px;
    /* margin-bottom: 1vh; */
  }

  .homepage-feed-names{
    font-weight: bold;
    height: 35px;
    /* padding-top: 20px; */
    color: rgb(54, 47, 47)
  }

  .homepage-feed-title{
    font-size: 14px;
  }

  .homepage-feed-description{
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .homepage-feed-likes-comments{
    height: 50px;
    width: 400px;
    margin-left: 72px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .homepage-feed-icons{
    /* align-self: center; */
    height: 40px;
    width: 40px;
  }

  .homepage-feed-line{
    align-self: flex-end;
    width: 500px;
    border-bottom: .5px solid #23BDBC;
    margin-bottom: 20px;
  }

  .homepage-feed-spacer{
    margin-bottom: 60px;
  }
}

@media screen and (min-aspect-ratio: 2/1){
  .homepage-container {
    height: 79vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .homepage-container {
    height: 68vh;
  }
}