.homepage-container{
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  overflow: scroll;
}

.homepage-container::-webkit-scrollbar{
  display: none;
}

.homepage-feed-box{
  height: 14vh;
  margin-left: 8vw;
  font-size: 28px;
  display: grid;
  grid-template-columns: 2.1fr 7.9fr;
}

.homepage-feed-image{
  grid-column: 1/2;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.homepage-feed-text{
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-left: -4vw;
  margin-right: 8vw;
  margin-bottom: 1vh;
}

.homepage-feed-names{
  font-weight: bold;
  height: 5vh;
  padding-top: 1.8vh;
  color: rgb(54, 47, 47)
}

.homepage-feed-title{
  grid-column: 2/3;
  color: #23BDBC;
  font-size: 28px;
}

.homepage-feed-description{
  margin-top: 2vh;
  font-size: 22px;
  margin-bottom: 1vh;
}

.homepage-feed-likes-comments{
  align-self: flex-end;
  height: 4.5vh;
  width: 75vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.homepage-feed-likes{
  margin-right: 2vw;
}

.homepage-feed-icons{
  height: 2.5vh;
  width: 2.5vh;
}

.homepage-feed-line{
  align-self: flex-end;
  width: 77vw;
  border-bottom: .5px solid #23BDBC;
  margin-bottom: 2vh;
}

.homepage-feed-spacer{
  margin-bottom: 10vh;
}