.new-rating-header{
  position: relative;
  height: 10vh;
  width: 64vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.new-rating-header > i {
    font-size: 44px;
    color: black;
    padding-right: 2vh;
    cursor: pointer;
}

.new-rating-form-holder-open {
  position: absolute;
  background: linear-gradient(-45deg, #DD356E, #23BDBC);
  background-size: 800%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 40vh;
  top: 30%;
  left: 15%;
  right: 15%;
  bottom: 30%; 
  z-index: 10;
  overflow-y: scroll;
  overflow-x: hidden;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, flow 8s ease-in-out infinite;
          animation: scale-up-center 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, flow 8s ease-in-out infinite;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.new-rating-form-holder-open::-webkit-scrollbar{
  display: none;
}

.new-rating-form-holder-close {
  position: absolute;
  display: none;
  background: linear-gradient(-45deg, #DD356E, #23BDBC);
  background-size: 800%;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  height: 40vh;
  z-index: 10;
  overflow: hidden;
}

.new-rating-form-title{
  height: 6vh;
  width: 70vw;
  text-align: center;
  color: black;
  background-color:rgba(255, 255, 255, 0.5);
  font-size: 46px;
  padding-top: 1vh;
}

.new-rating-form-container-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  height: 50vh;
  width: 80%;
  overflow: scroll;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px; */
}

.new-rating-main-form-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.new-rating-form {
  height: 100%; 
  width: 100%; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

/* .new-rating-dress-ratings-holder{
  height: 5vh;
  z-index: 200;
  margin-top: -3vh;
} */

.dress-ratings {
  height: 3.5vh;
  width: 8vw;
  background-color:rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

.dress-ratings-radio{
  display: none;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.new-rating-textarea-holder{
  height: 10vh; 
  width: 40vw; 
  display: flex;
  margin-top: .5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-rating-textarea-holder > textarea{
  width: 100%;
  height: 100%;
  font-size: 28px;
  margin-top: 1vh;
  box-sizing: border-box; 
  border: .5px solid transparent;
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
}

.new-rating-textarea-holder > textarea::placeholder{
  margin-top: .5vh;
  font-size: 28px;
}

#description-label{
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 24px;
}

.new-rating-button-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0vh;
}

.new-rating-button{
  margin-top: 2vh;
  margin-left: 1vw;
  height: 3vh; 
  width: 40vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  border: none;
  border-radius: 10vh;
  cursor: pointer;  
}
  
.new-rating-button:hover{
  background:whitesmoke;
}

.new-rating-hide{
  display: none;
}

#new-rating-load-screen-image-top{
	position: absolute;
	height: 18vh;
  width: 120vw;
  margin-top: 2vh;
	animation: ratingloadright 10s infinite ease-in-out;
	z-index: -1;
}

@keyframes ratingloadright {
  0%   {right: -12%}
  50%  {right: -38%}
  100% {right: -12%}

}


/*************** @MEDIA QUERIES ***************/


@media screen and (min-aspect-ratio: 1/1){
  .new-rating-form-holder-open {
    width: 340px;
    height: 380px;
    border-radius: 15px;
    margin: 0 auto;
    z-index: 20;
  }

  .new-rating-form-holder-close {
    height: 70vh;
    width: 400px;
  }

  .new-rating-header{
    height: 40px;
    width: 340px;
  }

  .new-rating-header > i {
    font-size: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }

  .new-rating-form-title{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .new-rating-form-container-background{
    margin-top: 15px;
    height: 380px;
    width: 100%;
  }

  .dress-ratings {
    height: 30px;
    width: 39px;
    margin-top: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
  }

  .new-rating-textarea-holder{
    height: 120px;
    width: 200px;
  }

  .new-rating-textarea-holder > textarea{
    font-size: 12px;
    margin-top: 10px;
    padding: 10px;
  }
  
  .new-rating-textarea-holder > textarea::placeholder{
    margin-top: 5px;
    font-size: 12px;
  }
  

  .new-rating-button-holder{
    margin-top: 20px;
  }
  
  .new-rating-button{
    margin-top: 0;
    margin-left: 0;
    height: 25px; 
    width: 200px; 
    font-size: 12px;
  }

  #new-rating-load-screen-image-top{
    padding-top: 30px;
    height: 140px;
    width: 1000px;
    animation: ratingloadright 10s infinite ease-in-out;
    z-index: -1;
  }

  @keyframes ratingloadright {
    0%   {right: -22%}
    50%  {right: -48%}
    100% {right: -22%}
  }
}