.new-request-header{
  height: 6vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.new-request-header > i {
    font-size: 64px;
    color: #23BDBC;
    padding-right: 2vh;
    cursor: pointer;
}

.new-request-form-holder-open {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px 0 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0; 
  animation-name: signup-slide-right;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
	animation-timing-function: linear;
  animation-duration: .3s;
  z-index: 3;
  overflow: scroll;
}

.new-request-form-holder-open::-webkit-scrollbar{
  display: none;
}

@keyframes signup-slide-right {
  0%   {left: -100vw}
  100% {left: 0vw}
  }

.new-request-form-holder-close {
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px 0 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0; 
  animation-name: signup-slide-left;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-duration: .3s;
  z-index: 0;
  overflow: scroll;
}

@keyframes signup-slide-left {
  0%   {left: 0vw; display: flex}
  100% {left: -102vw}
  }

.new-request-form-title{
  color: #DD356E;
  font-size: 66px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.new-request-form-subtitle, .new-request-form-subtitle-2{
  margin-top: 4vh;
  font-size: 48px;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  text-align: center;
  color: black;
  background-color: white;
  width: 100%;
}

.new-request-form-container-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  height: 75vh;
  width: 100%;
  overflow: scroll;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 25px; */
}

.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.new-request-upload-container{
  margin-top: 1vh;
  height: 25vh;
  color: #DD356E;
  /* font-size: 20px */
}

.new-request-main-form-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.new-request-form {
  height: 100%; 
  width: 100%; 
  color: #DD356E;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

#upload-image{
  height: 1vh;
}

.new-request-textarea-holder{
  height: 9vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-request-textarea-holder > textarea{
  height: 85%;
  width: 100%;
}
.new-request-input-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* margin: .6vh; */
}

.new-request-input-holder-ind{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
}

.new-request-input-holder > div > input{
  width: 1vw;
}

.new-request-input-holder > div > label{
  padding-right: 2vw;
  max-width: 8vw;
}

.new-request-preview-container{
  min-height: 10vh;
  min-width: 10vh;
  max-height: 20vh;
  max-width: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.new-request-preview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#description-label{
  margin-bottom: 1vh;
  margin-top: 1vh;
  font-size: 24px;
}

.new-request-clothing-type{
  margin-bottom: 1vh;
  margin-top: 2vh;
  font-size: 22px;
  text-align: center;
}

.new-request-designers{
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-request-designers > p{
  font-size: 22px;
  margin-top: 1vh;
  margin-bottom: .5vh;
}

.new-request-button-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.new-request-button{
  margin-top: .8vh;
  margin-left: 1vw;
  height: 3vh; 
  width: 45vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background:#DD356E;
  color: white;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  cursor: pointer;  
}
  
.new-request-button:hover{
  background:#23BDBC;
}

#show-picture{
  max-height: 20vh;
  max-width: 20vh;
}


/*************** @MEDIA QUERIES ***************/


@media screen and (min-aspect-ratio: 1/1){
  .new-request-form-holder-open {
    height: 100vh;
    width: 500px;
  }

  .new-request-form-holder-close {
    height: 100vh;
    width: 500px;
  }

  .new-request-header{
    height: 40px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .new-request-header > i {
    font-size: 28px;
    padding-right: 35px;
    padding-top: 20px;
  }

  .new-request-form-title{
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .new-request-form-subtitle, .new-request-form-subtitle-2{
    margin-top: 25px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .new-request-form-container-background{
    margin-top: 15px;
    height: 80vh;
    width: 100%;
  }

  .new-request-upload-container{
    margin-top: 10px;
    height: 200px;
    color: #DD356E;
  }

  #upload-image{
    height: 20px;
    font-size: 8px;
  }

  .upload-image-form{
    font-size: 8px;
  }

  #file-upload-button{
    font-size: 8px;
  }

  #description-label{
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 14px;
  }

  .new-request-textarea-holder{
    height: 80px;
    width: 200px;
  }

  .new-request-clothing-type{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }

  .new-request-input-holder-ind{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80px;
    font-size: 8px;
    margin-bottom: -6px;
  }

  .new-request-input-holder-ind > input{
    height: 8px;
    width: 8px;
  }

  #new-request-designers-label{
    font-size: 14px;
  }

  #designer{
    height: 15px;
    width: 100px;
    font-size: 8px;
  }

  .new-request-button-holder{
    margin-top: 12px;
  }
  
  .new-request-button{
    margin-top: 0;
    margin-left: 0;
    height: 25px; 
    width: 100px; 
    font-size: 12px;
  }
  
}