.orders-container{
  height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  /* text-align: center; */
  overflow-y: scroll;
  scrollbar-width: none;
}

.orders-container::-webkit-scrollbar{
  display: none;
}

.orders-main-header{
text-align: center;
font-size: 66px;
color: #DD356E;
}

.orders-requests-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.orders-requests-header-container{
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 48px;
  margin: 2vh 0 2.5vh 0;
  /* padding-left: 10vw; */
}

.orders-requests-header{
  padding: .5vh 0 .5vh 0;
  color: black;
  padding-left: 10vw;
}

.orders-request-ind{
  max-height: 24vh;
  width: 80vw;
}

.orders-request-ind > h2{
  margin-top: .75vh;
  font-size: 32px;
  color: #DD356E;
  font-weight: bold;
}

.order-requests-ind-message{
  margin-top: 1.25vh;
  font-size: 28px;
}

.order-requests-ind-message-description{
  margin-top: .75vh;
  font-size: 22px;
  /* line-height: .2vh; */
}

.orders-requests-line{
  align-self: flex-end;
  width: 100vw;
  border-bottom: .5px solid #DD356E;
  margin-bottom: 2vh;
}

.orders-requests-images{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orders-request-single-image{
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  margin-right: .5vh;
  max-height: 10vh;
  max-width: 10vh;
}

.orders-requests-create-modal{
  align-self: center;
  text-align: center;
  cursor: pointer;
  height: 2vh;
  padding-top: 1vh;
  font-size: 28px;
  width: 22vw;
  border-radius: 10px;
  color: black;
  background-color: #DD356E;
}

.orders-requests-create-modal:hover{
  background-color: #c74a74;
}

.orders-recommendations-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.orders-recommendations-feed{
  display: flex;
  width: 80vw;
  flex-direction: column;
  align-items: center;
}


.orders-recommendations-header-container{
  width: 100vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 48px;
  margin: -2vh 0 2.5vh 0;
  /* padding-left: 10vw; */
}

.orders-recommendations-header{
  padding: .5vh 0 .5vh 0;
  color: black;
  padding-left: 10vw;
}

.orders-recommendations-feed-box{
  height: 14vh;
  font-size: 28px;
}

.orders-recommendations-feed-text{
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}

.orders-recommendations-feed-names{
  font-weight: bold;
  color: #DD356E;
  height: 4vh;
  padding-top: 1vh;
}

.orders-recommendations-feed-title{
  margin-top: 0;
  font-size: 28px;
}

.orders-recommendations-feed-description{
  margin-top: 2vh;
  font-size: 22px;
  margin-bottom: 1vh;
}

.orders-recommendations-feed-likes-comments{
  align-self: flex-end;
  height: 4.5vh;
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.orders-recommendations-feed-likes{
  margin-right: 2vw;
}

.orders-recommendations-feed-icons{
  height: 2.5vh;
  width: 2.5vh;
}

.orders-recommendations-feed-line{
  align-self: flex-end;
  width: 100vw;
  border-bottom: .5px solid #DD356E;
  margin-bottom: 2vh;
}

.orders-recommendations-feed-spacer{
  margin-bottom: 10vh;
}


/****************** @MEDIA QUERIES **********************/


@media screen and (min-aspect-ratio: 1/1){
	.orders-container {
    margin-top: 70px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 82vh;
    background-color: white;
  }
  
  .orders-requests-container{
    width: 500px;
  }

  .orders-main-header{
    font-size: 34px;
    }

  .orders-requests-header-container{
    width: 500px;
    height: 40px;
    font-size: 24px;
    margin: 15px 0 20px 0;
  }
  
  .orders-requests-header{
    padding: 5px 0 5px 0;
    padding-left: 50px;
  }

  .orders-request-ind{
    max-height: 200px;
    width: 400px;
  }
  
  .orders-request-ind > h2{
    margin-top: 8px;
    font-size: 16px;
  }
  
  .order-requests-ind-message{
    margin-top: 12.5px;
    font-size: 14px;
  }
  
  .order-requests-ind-message-description{
    margin-top: 8px;
    font-size: 10px;
  }
  
  .orders-requests-line{
    width: 500px;
    margin-bottom: 15px;
  }

  .orders-request-single-image{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    max-height: 80px;
    max-width: 80px;
  }
  
  .orders-requests-create-modal{
    height: 3vh;
    padding-top: 1vh;
    font-size: 14px;
    width: 12vw;
    border-radius: 5px;
  }
  
  .orders-recommendations-container{
    width: 500px;
  }
  
  .orders-recommendations-feed{
    width: 400px;
  }
  
  .orders-recommendations-header-container{
    width: 500px;
    height: 40px;
    font-size: 24px;
    margin: 15px 0 20px 0;
  }
  
  .orders-recommendations-header{
    padding: 5px 0 5px 0;
    margin-left: 50px;
  }

  .orders-recommendations-feed-box{
    height: 120px;
    width: 400px;
    font-size: 14px;
  }
  
  .orders-recommendations-feed-text{
    margin-bottom: 10px;
  }
  
  .orders-recommendations-feed-names{
    height: 40px;
    padding-top: 8px;
  }
  
  .orders-recommendations-feed-title{
    font-size: 14px;
  }
  
  .orders-recommendations-feed-description{
    margin-top: 20px;
    font-size: 10px;
  }

  .orders-recommendations-feed-likes-comments{
    height: 40px;
    width: 400px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .orders-recommendations-feed-icons{
    height: 25px;
    width: 25px;
  }
  
  .orders-recommendations-feed-line{
    width: 500px;
    margin-bottom: 15px;
  }
  
  .orders-recommendations-feed-spacer{
    margin-bottom: 60px;
  }
}

@media screen and (min-aspect-ratio: 2/1){
  .orders-container {
    height: 76vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .orders-container {
    height: 62vh;
  }
}