
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Libre Baskerville', serif;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* .load-screen-container{
	height: 100vh;
	width: 100vw;
	background-color: transparent;
} */

.load-screen{
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #DD356E;
	z-index: 11;
	overflow-x: hidden;
}

.load-screen-inner {
  width: 50vw;
	height: 20vh;
	background-color: transparent;
	border:900px solid #DD356E;
  /* border: 1.1em solid red; */
  /* border-left: 1.1em solid #000000; */
  /* border-radius: 50%; */
  /* animation: loadanime 5s linear; */
	transition: opacity 0.3s;
	z-index: 10;
}

#load-screen-image-top{
	position: absolute;
	margin-top: -2vh;
	height: 16vh;
	width: 100vw;
	animation: loadright 10s infinite linear;
	z-index: -1;
}

#load-screen-loading {
  color: #DD356E;
	position: absolute;
	margin-top: 10vh;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #DD356E, black, #DD356E);
  background-repeat: no-repeat;
  background-size: 80%;
	animation: animate 3s linear infinite;
	background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes loadright {
	0%   {right: 10%}
  100% {right: -18%}
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
/* 
#load-screen-image-bottom{
	animation: loadleft 5s linear;
	position: fixed;
	bottom: 10vh;
} */

.load-screen--hide {
	display: none;
  opacity: 0;
}

.pattern-diagonal-lines-xl{
	color: #23BDBC;
	background-color: white;
}

/* @keyframes loadleft {
	0%   {right: -110%}
  100% {right: -45%}
} */


@media screen and (min-aspect-ratio: 1/1){
	#root {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		background-color: rgb(85, 84, 84);
		/* background-color: black; */
	}

	#load-screen-loading {
		margin-top: 120px;
		font-size: 16px;
		letter-spacing: 3px;
		background-repeat: no-repeat;
		background-size: 80%;
		animation: animate 3s linear infinite;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: rgba(255, 255, 255, 0);
		z-index: 50;
	}

	.load-screen{
		position: fixed;
		height: 100vh;
		width: 500px;
		display: flex;
		margin: 0 auto;
		z-index: 11;
	}

	.load-screen-inner {
		width: 300px;
		height: 100vh;
		background-color: transparent;
		border:100px solid #DD356E;
		overflow-x: hidden;
		/* border: 1.1em solid red; */
		/* border-left: 1.1em solid #000000; */
		/* border-radius: 50%; */
		/* animation: loadanime 5s linear; */
		transition: opacity 0.3s;
		z-index: 10;
	}

	#load-screen-image-top{
		margin-top: 0px;
		height: 140px;
		width: 500px;
		animation: loadright 9s infinite linear;
	}

	@keyframes loadright {
		0%   {right: 10%}
		100% {right: -18%}
	}
}

.linked-in-image-show{
	display: none;
}