.search-container{
  height: 92vh;
  width: 100vw;
  margin-top: 60px;
  overflow: scroll;
}

.search-container::-webkit-scrollbar{
  display: none;
}

.search-bar-container{
  min-height: 12vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
}

.search-bar-keyword{
  width: 30vw;
  height: 2vh;
  box-shadow: 0px 0px 8px lightgrey;
  border: none;
  padding: 0 15px;
}

.search-bar-keyword::placeholder{
  color: #a2e2e2;
}

.search-bar-title{
  margin-top: 8vh;
  font-size: 45px;
  color: black;
}

.search-button{
  background-color: #23BDBC;
  box-shadow: 0px 0px 5px lightgrey;
  border: none;
  height: 42px;
  width: 45px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
}

.search-magnify{
  display: flex;
  font-size: 20px;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar-spacer{
  height: 5vh;
}

.search-results-container{
  min-height: 15vh;
  background-color: white;
}

.search-results-image{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
}

.search-results-header{
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-results-title{
  font-size: 52px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 100%;
  margin-bottom: 1.5vh;
  margin-top: 3vh;
  color: black;
}

.search-results-title > h2{
  color: black;
  padding-left: 10vw;
}

.search-results-name{
  font-size: 28px;
}

.search-my-designers-header{
  height: 5vh;
  font-size: 60px;
  margin-top: .5vh;
  margin-bottom: 3vh;
  background-color: transparent;
}

.search-my-designers-container{
  min-height: 15vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-my-designers-image{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  margin-right: 2vw;
}

.search-my-designers-header{
  height: 4vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.search-my-designers-title{
  font-size: 52px;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  width: 100%;
  margin-bottom: 1.5vh;
}

.search-my-designers-title > h1{
  color: black;
  padding-left: 10vw;
}

.search-my-designers-bio{
  font-size: 10px;
}

.search-my-designers-name{
  font-size: 28px;
  padding-left: 2vw;
  color: black;
}

.search-my-designers-individual{
  min-height: 8vh;
  width: 80vw;
}

.search-my-designers-navlinks{
  text-decoration: none;
  color: black;
}

.search-my-designers-ratings-container{
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  margin-top: .5vh;
}

.search-my-designers-ratings-container > img{
  height: 1.5vh;
  width: 1.5vh;
  margin-right: -.75vw;
}
/* 
.rate{
  display: flex;
  cursor: pointer;
} */

/* .ratings-4{order: 1}
.ratings-4:hover + .ratings-3{background-color: red} */

/* .ratings-4:hover ~ .rate:nth-child(n - 1) {background-color: red} */

/* .rate:nth-child(-n + 5) ~ .rate:hover{
  background-color: red;
} */

/* .rate:hover{
  animation: dress .5s;
}

@keyframes dress{
  0%, 100%{
    transform: scale(1);
  }
  50%{
    transform: scale(2);
  }
} */

.search-my-designers-ratings-container > #search-my-designers-ratings-half-dress{
  height: 1.5vh;
  width: .75vh;
  margin-right: .25vw;
}


.pattern-cross-dots-lg{
  color: #23BDBC;
  background-color: #fef0bc
}

.search-margin-spacer{
  width: 100%;
  height: 8vh;
}

/****************** @MEDIA QUERIES **********************/

@media screen and (min-aspect-ratio: 1/1){
	.search-container {
    margin-top: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    height: 85vh;
    background-color: white;
  }

  .search-bar-container{
    min-height: 120px;
    width: 500px;
  }
  
  .search-bar{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
  }
  
  .search-bar-keyword{
    height: 30px;
    box-shadow: 0px 0px 8px lightgrey;
    padding: 0 15px;
  }
  
  .search-bar-title{
    height: 50px;
    margin-top: 18px;
    font-size: 22px;
  }

  .search-button{
    margin-top: 4.5px;
    background-color: #23BDBC;
    height: 30px;
    width: 35px;
  }
  
  .search-magnify{
    font-size: 14px;
  }

  .search-bar-spacer{
    height: 30px;
  }

  .search-results-container{
    min-height: 40px;
    width: 500px;
    background-color: white;
  }

  .search-results-image{
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .search-results-header{
    height: 40px;
  }

  .search-results-title{
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .search-results-title > h2{
    padding-left: 50px;
  }

  .search-results-name{
    font-size: 24px;
  }

  .search-my-designers-header{
    width: 400px;
    height: 40px;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  .search-my-designers-container{
    min-height: 90px;
    width: 500px;
  }
  
  .search-my-designers-image{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .search-my-designers-title{
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 500px;
    margin-bottom: 20px;
  }
  
  .search-my-designers-title > h1{
    padding-left: 50px;
  }
  
  .search-my-designers-bio{
    font-size: 10px;
  }
  
  .search-my-designers-name{
    font-size: 14px;
    padding-left: 20px;
  }
  
  .search-my-designers-individual{
    min-height: 50px;
    width: 400px;
  }

  .search-my-designers-ratings-container{
    padding-left: 18px;
    margin-top: 5px;
  }
  
  .search-my-designers-ratings-container > img{
    height: 18px;
    width: 18px;
    margin-right: -2px;
  }

  /* .rate:hover{
    animation: none;
    cursor: pointer;
  }

  .rate:active{
    animation: dress .5s;
  } */

  .search-my-designers-ratings-container > #search-my-designers-ratings-half-dress{
    height: 18px;
    width: 9px;
    margin-right: 0px;
  }
  
  .search-margin-spacer{
    width: 500px;
    height: 40px;
  }
  
}

@media screen and (min-aspect-ratio: 2/1){
  .search-container {
    height: 82vh;
  }
}

@media screen and (min-aspect-ratio: 3/1){
  .search-container {
    height: 72vh;
  }
}