.header{
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  cursor: pointer;
}

.home-logo__help{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 24px;
  padding-right: 5px;
}

.home-logo__hands{
  color: teal
}

.header-testimony{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 25px;
  width: 140px;
  padding-top: 10px;
  text-align: center;
  border-radius: 3px;
}

.header-testimony:hover{
  background-color: whitesmoke;
  cursor: pointer;
}

.profile-drop{
  margin-right: 30px;
}

.profile-dropdown{
  height: 100px;
  width: 200px;
  position: absolute;
  box-shadow: 0px 0px 5px lightgrey;
  margin-top: 10px;
  padding: 20px 0 0 20px;
  right: 20px;
  border-radius: 3px;
  background-color: white;
}

.profile-dropdown > div{
  width: 80%;
  border-radius: 3px;
}

.profile-dropdown__link{
  height: 25px;
  width: 85%;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profile-dropdown__about-me{
  display: flex;
  flex-direction: row;
}

.profile-dropdown > div:hover{
  padding-right: 20px;
  background-color: whitesmoke;
}

.login-signup-container{
  display: flex;
  flex-direction: row;
}

.login-button{
  height: 35px;
  width: 70px;
  box-sizing: border-box;
  padding: 8px 0;
  border: .5px solid lightgrey;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;
}

.login-button:hover{
  background-color: whitesmoke;
}

.signup-button{
  height: 35px;
  width: 80px;
  box-sizing: border-box;
  padding: 8px 0;
  border: .5px solid lightgrey;
  text-decoration: none;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: teal;
}

.navlink-navigation{
  text-decoration: none;
  color: black;
}

.dropdodwn-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-image{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.dropdown-image-temp{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}