.login-form-holder-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #DD356E, #23BDBC);
	-webkit-animation: flow 8s ease-in-out infinite, login-slide-up .4s linear 0s 1 forwards;
          animation: flow 8s ease-in-out infinite, login-slide-up .4s linear 0s 1 forwards;
  background-size: 500%;
  border-radius: 15px 15px 0 0;
  height: 30vh;
  width: 100%;
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 10;
}

@-webkit-keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes flow {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes login-slide-up {
  0%   {bottom: -30vh}
  100% {bottom: 0vh}
  }

.login-form-holder-close {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #DD356E, #23BDBC);
	-webkit-animation: flow 8s ease-in-out infinite, login-slide-down .4s linear 0s 1 forwards;
          animation: flow 8s ease-in-out infinite, login-slide-down .4s linear 0s 1 forwards;
  background-size: 500%;
  border-radius: 15px 15px 0 0;
  height: 30vh;
  width: 100%;
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: 10;
}

@keyframes login-slide-down {
  0%   {bottom: 0vh}
  100% {bottom: -34vh}
  }

.login-form-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 4.5vh;
  width: 100vw;
  margin-top: 2vh;
  margin-bottom: 1vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.login-form-title > h1{
  color: grey;
  font-size: 50px;
}

.login-form {
  height: 100%; 
  width: 100%; 
  border-radius: 15px 15px 0 0;
  box-sizing: border-box; 
  padding: 10px 30px;
  z-index: 3;
}

.login-input-holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .8vh;
}

.login-input{
  height: 3vh; 
  width: 55vw; 
  box-sizing: border-box; 
  border: .5px solid transparent;
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.5);
}

.login-input::placeholder{
  font-size: 24px;
}

.login-input:focus{
  background: white; 
}

.login-button-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
}

.login-button{
  margin-top: 1vh;
  height: 3vh; 
  width: 45vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background: rgba(255, 255, 255, 0.5);
  color: grey;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  border: none;
  border-radius: 10vh;
  cursor: pointer;  
}

.login-form-demo-user-button, .login-form-demo-designer-button{
  margin-top: 1vh;
  height: 3vh; 
  width: 45vw; 
  border-radius: 3px; 
  box-sizing:border-box;
  background: rgba(255, 255, 255, 0.5);
  color: grey;
  font-weight:bold;
  font-size: 20pt;
  transition: background-color 0.1s;
  border: none;
  border-radius: 10vh;
  cursor: pointer;   
}

.login-button:hover, .login-form-demo-user-button:hover, .login-form-demo-designer-button:hover {
  background: whitesmoke;
}

.button-modal{
  height: 50px; 
  width: 240px; 
  border-radius: 3px; 
  border: rgba(0,0,0,0.3) 0px solid; 
  box-sizing:border-box;
  padding:10px; 
  background:whitesmoke;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition: background-color 0.4s;
  cursor: pointer;  
}

.button-modal:hover {
  background:#da4339;
}

.login-hide{
  display: none;
}


/****************** @MEDIA QUERIES **********************/


@media screen and (min-aspect-ratio: 1/1){
  .login-form-holder-open {
    height: 300px;
    width: 100%;
  }

  .login-form-title{
    padding: 10px 0;
    width: 500px;
  }

  .login-form-title > h1{
    font-size: 28px;
  }
  
  .login-form {
    height: 100%; 
    width: 340px; 
  }
  
  .login-input-holder{
    margin: 8px;
  }
  
  .login-input{
    height: 30px; 
    width: 250px; 
  }

  .login-input::placeholder{
    font-size: 16px;
  }
  
  .login-button-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .login-button{
    margin-top: 5px;
    margin-left: 1vw;
    height: 30px; 
    width: 140px; 
    border-radius: 3px; 
    font-size: 12px; 
  }
  
  .login-form-demo-user-button, .login-form-demo-designer-button{
    margin-top: 5px;
    margin-left: 1vw;
    height: 30px; 
    width: 140px; 
    border-radius: 3px; 
    font-size: 12px;
  }
  
  .button-modal{
    height: 50px; 
    width: 240px; 
    border-radius: 3px; 
    padding:10px; 
    font-size: 12pt;
    transition: background-color 0.4s;
  }
}